version: "3.9"

services:
  api:
    build: .
    container_name: 3ds-sync-api
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "3000:3000"
    volumes:
      - /mnt/3ds-saves:/mnt/3ds-saves:rw
